body {
    font-family: Verdana;
}

header {
    color: #FF5F00;
    background-color: #AFAFAF;
    text-align: center;
}

table, th, td {
    border: black solid 2px;
    border-collapse: collapse;
    padding: 10px;
}

table {
    box-shadow: 10px 10px 15px #AFAFAF;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

thead {
    background-color: #76B900;
    color: white;
}

nav {
    padding-top: 50px;
    padding-bottom: 50px;
}

nav a {
    border: #AFAFAF solid 2px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    background-color: #0082D1;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: #AFAFAF;
    color: #FF5F00;
}

footer {
    background-color: #FF5F00;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

section {
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
}
